
    <div class="card mt-3 mb-3">
        <img class="card-img-top" src="https://img3.doubanio.com/f/talion/fbcb08987a36258354c6037211d94286bef9716c/pics/card/promotion_bg.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{ blog_obj.title }}</h5>
        <p class="card-text">
            {{ blog_obj.site_name }}
        </p>
        <p class="card-text">
            <small class="text-muted">Author: {{ user_obj.first_name }} </small>
            <small class="text-muted">Email: {{ user_obj.email }} </small>
        </p>
        </div>
    </div>