{% extends 'base.html' %}
{% block title %}Nut CMS{% endblock title %}


{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-2 mt-3">
            <div class="col-2 mt-5 fixed-top">
            {% include 'common/blog_card.html' %}
            {% include 'common/cate_tag_card.html' %}
            </div>
        </div>

        <div class="col-10 mt-3"><!--  -->
            <div class="card small">
                <div class="card-body"> <!-- article -->
                    <h5>
                        Edit Article
                    </h5>
                    <input class="form-control title" value={{article_obj.title}}></input>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <div id="editor" class="content">
                        <p>{{article_obj.content}}</p>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="inputState">Choose Category</label>
                            <select id="inputState" class="form-control cate">
                                {% for i in cates %}
                                {% if i.name == article_obj.category.name %}
                                <option value={{i.id}} selected>{{i.name}}</option>
                                {% else %}
                                <option value={{i.id}}>{{i.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="inputState">Choose Tags</label>
                            <select id="inputState" name="selValue" class="form-control tag" multiple>
                                {% for i in tags %}
                                {% if i.id in tag_list %}
                                <option value={{i.id}} selected>{{i.name}}</option>
                                {% else %}
                                <option value={{i.id}}>{{i.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm submit" role="button" aria-pressed="true">submit</a>
                </div> <!-- article -->
            </div>
        </div><!-- end  -->

    </div><!-- row -->
    {% include 'common/footer.html' %}
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('.content')
    editor.customConfig.uploadImgServer = '/upload'
    editor.customConfig.uploadFileName = 'FileImg'
    editor.create()

    $(function () {
        $('.submit').click(function () {
            // var title = $('.title').val()
            // console.log(title)
            // var cate = $('.cate option[selected]').val()
            // console.log(cate)
            // var content = editor.txt.html()
            var tag_list = $('.tag option[selected]')
            console.log('tag_list',tag_list)
            var tag_id_list = $.map(tag_list,function (x) {
                return $(x).val()
            })

            console.log(tag_id_list)

            // console.log(tags)
            // console.log(editor.txt.html())
            var data = {
                title: $('.title').val(),
                cate: $('.cate option[selected]').val(),
                tag_id_list: tag_id_list,
                content: editor.txt.html(),
            }
            // console.log('data',JSON.stringify(data))
            $.ajax({
                url:'/dashboard/article/{{article_obj.pk}}/',
                // url:'/dashboard/article/{{0}}/',
                type:'POST',
                contentType:"application/json; charset=utf-8",
                dataType:'json',
                data: JSON.stringify(data),
                // data:data,
                success:function (data) {
                    // console.log('data',data)
                    data = JSON.parse(JSON.stringify(data))
                    console.log('data',data)
                    
                }
            })
        })
    })
</script>
{% endblock js %}
