{% extends 'base.html' %}
{% block title %}Nut CMS{% endblock title %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3 mt-3 clearfix">
            <div class="col-3 mt-5 fixed-top">
            <!-- blog card -->
            {% include 'common/blog_card.html' %}
            <!-- end blog card -->

            <!-- common_cate_tag_card -->
            {% include 'common/cate_tag_card.html' %}
            <!-- end common_cate_tag_card -->
            </div>
        </div>

        <!-- articles -->
        <div class="col-9 mt-3">
            {% include 'common/articles.html' %}
        </div>
        <!-- end articles -->

    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
    {{ block.super }}
{% endblock js %}
