{% extends 'base_bms.html' %}
{% load filter %}
{% block title %} <title>{{title}}</title> {% endblock title%}
{% block style %}
	{{ block.super }}
<style type="text/css">
#bms .row table tr td{
	padding: 0.15rem;
}
#bms .row table tr td input{
	padding: 0rem;
}
#book_add{
	display: none;
}
</style>
{% endblock style %}
{% block content %}
<div id="bms" class="container">
	<div class="row">
		{% block sidebar %}
			{{ block.super }}
		{% endblock sidebar %}
		<div class="col-10">
			<!-- <nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">{{title}}</a>
			</nav> -->
			<table id="book" class="table table-sm table-hover small">
				<thead>
					<tr>
						<th scope="col">Book Title</th>
						<th scope="col">Price</th>
						<th scope="col">Publish</th>
						<th scope="col">State</th>
						<th scope="col">Publish Date</th>
						<th scope="col">Author</th>
						<!-- <th scope="col" colspan='2'>Operat</th> -->
						<th class="text-center" scope="col">Edit</th>
						<th class="text-center" scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for i in books_obj %}
					<tr>
						<td>{{i.name}}</td>
						<td>¥{{i.price}}</td>
						<td>{{i.publish}}出版社</td>
						<td>{{i.state}}</td>
						<td>{{i.pub_date|date:'Y-m-d'}}</td>
						<td>
							{% for a in i.author.all|queryset_to_list:i.author.all.count %} <!-- 自定义过滤器 queryset_to_list -->
							{{ a }}
							{% endfor %}
						</td>
						<td class="text-center">
							<a href="edit/{{i.id}}" class="text-primary">
								<i class="fas fa-undo-alt"></i>
							</a>
						</td>
						<td class="text-center">
							<a href="javascript:void(0);" class="text-danger del_book _confirm" value={{i.id}}>
								<i class="fas fa-times text-danger"></i>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

{% block book_add %}
	{{ block.super }}
{% endblock book_add %}
{% block Modal %}
	{{ block.super }}
{% endblock Modal %}

</div><!-- end .col-10 -->
</div> <!-- end row -->
</div> <!-- end container -->
{% endblock content %}
{% block footer%}
{% endblock footer %}
{% block foot %}
{{ block.super }}
<script type="text/javascript">
	// 删除每本书后提示一段文字 并一段时间后消失
	// $('#book').on('click','.del_book',function () { // 用on进行事件委托
	// 	var _this = $(this); // ajax 内不能直接使用$(this)
	// 	$.ajax({
	// 		url:'/book_del/',
	// 		type:'POST',
	// 		data: {
	// 			book_id: _this.attr('value'),
	// 		},
	// 		success: function(data) {
	// 			var Otr = _this.parent().parent()
	// 			Otr.addClass("table-danger").html('<td colspan="8" class="text-right">del success!</td>')
	// 			setTimeout(function () {
	// 				Otr.remove()
	// 			},1000)
	// 		},
	// 	})
	// })

	// 确认删除 alert plug(https://alert.darren.work/)
	$(function(){
		$('.container').on('click','._confirm',function(){
			var _this = $(this);
			$.confirm('确认删除',function (e) {
				if (e) {
					$.ajax({
						url:'/book_del/',
						type:'POST',
						data: {
							book_id: _this.attr('value'),
						},
                        dataType:'json',
						success: function(data) {
                            console.log('1',data);
                            data = JSON.parse(JSON.stringify(data));
                            console.log('2',data);
                            if (data['is_login']) {
                                var Otr = _this.parent().parent()
                                Otr.addClass("table-danger").html('<td colspan="8" class="text-right">del success!</td>')
                                setTimeout(function () {
                                    Otr.remove()
                                },1000)
                            }
                            else{
                                window.location.href = data['url']
                            }
						},
					})
				}	
			}).cancel('不同意').ok('同意')
		})
	})
	
// $('#exampleModal').on('show.bs.modal', function (event) {
//     var button = $(event.relatedTarget) // 触发事件的按钮
//     var recipient = button.data('whatever') // 解析出whatever内容
//     var modal = $(this)  //获得模态框本身
//     modal.find('.modal-title').text('确认删除' + recipient)  // 更改将title的text
//     // modal.find('.modal-body input').val(recipient)
// })
</script>
{% endblock foot %}