{% extends 'base_bms.html' %}

{% block title %} <title>{{title}}</title> {% endblock title%}

{% block style %}
{{ block.super }}
<style type="text/css">
	#bms .row table tr td{
		padding: 0.15rem;
	}
	#bms .row table tr td input{
		padding: 0rem;
	}
	#book_add{
		/*display: none;*/
	}
</style>
{% endblock style %}

{% block content %}
<div id="bms" class="container">
<div class="row">

	{% block nav %}
	{{ block.super }}
	{% endblock nav %}

	<div class="col-10">


		{% block book_add %}
			
		<div id="book_add" class="card">
			<form method="POST" class="card-body small">
				<div class="form-group row">
				  <label class="col-2 col-form-label">Book</label>
				  <div class="col-10">
				  	<input type="text" class="form-control form-control-sm" name="name" value={{book_obj.name}}>
				  </div>
				</div>

				<div class="form-group row">
					<label class="col-2 col-form-label">Author</label>
					<div class="col-10">
						<select class="form-control form-control-sm" name="author" multiple>
							{% for i in authors %}
								{% if i in book_obj.author.all %}
								<option value={{ i.id }} selected>{{i.name}}</option>
								{% else %}
								<option value={{ i.id }}>{{i.name}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-2 col-form-label">Price</label>
					<div class="col-10">
						<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text">¥</span>
						  </div>
						  <input type="text" class="form-control" name="price" value={{book_obj.price}}>
						</div>
					</div>
				</div>

				<fieldset class="form-group">
					<div class="row">
					  <legend class="col-form-label col-sm-2 pt-0 text-right">State</legend>
					  <div class="col-sm-10">
					  	{% for key,value in state_dict.items %}
						  	{% if book_obj.state == key %}
						    <div class="form-check form-check-inline">
						      <input class="form-check-input" type="radio" name="state" value={{key}} checked>
						      <label class="form-check-label">
						        {{ value }}
						      </label>
						    </div>
						    {% else %}
						    <div class="form-check form-check-inline">
						      <input class="form-check-input" type="radio" name="state" value={{key}}>
						      <label class="form-check-label">
						        {{ value }}
						      </label>
						    </div>
						    {% endif %}
					  	{% endfor %}
					  </div>
					</div>
				</fieldset>

				<div class="form-group row">
					<label class="col-2 col-form-label">Publish Date</label>
					<div class="col-10">
					  <input type="date" class="form-control form-control-sm" name="pub_date" value={{ book_obj.pub_date|date:'Y-m-d' }}>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-2 col-form-label">Publish</label>
					<div class="col-10">
						<select class="form-control form-control-sm" name="publish">
						{% for i in publishs %}
							{% if i == book_obj.publish %}
							<option value={{i.id}} selected>{{i.name}}出版社</option>
							{% else %}
							<option value={{i.id}}>{{i.name}}出版社</option>
							{% endif %}
						{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-2 col-form-label"></label>
					<div class="col-10">
					  <button class="btn btn-primary btn-sm" type="submit">Modify Book</button>
					</div>
				</div>
			</form>
		</div> <!-- end book_add -->
		{% endblock book_add %}

	</div> <!-- end .col-10 -->
</div> <!-- .row -->
</div> <!-- .container -->

{% endblock content %}


{% block footer%}
{% endblock %}


{% block foot %}
{{ block.super }}
{% endblock foot %}