{% extends 'base.html' %}
{% block title %}Nut CMS{% endblock title %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-4 mt-3">
        </div>
        <div class="col-4 mt-5">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a id="login_tag" class="nav-link active" href="javascript:void(0);">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                  </li>
                  <li class="nav-item">
                    <a id="signin_tag" class="nav-link" href="javascript:void(0);">
                        <i class="fas fa-sign-in-alt"></i> Signin
                    </a>
                  </li>
                </ul>
              </div>
              <div id="login_card" class="card-body">
                {% for i in data.form_obj %}
                {% if i.name in data.login_fields %}
                    <div class="form-group row">
                      <div class="col-12">
                        {{i}}
                        <small class="form-text"></small>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
                    <div class="form-group row">
                      <div class="col-6">
                        <input type="text" name="random_code" class="form-control form-control-sm" placeholder="验证码" maxlength="150" required="" id="random_code">
                        <small class="form-text"></small>
                      </div>
                      <div class="col-6">
                        <!-- <img src={{imgurl}}> -->
                        <img onclick="changeImg(this);" src='/code/' name="random_code">

                        <!-- <img onclick="changeImg(this);" src="/code/" alt="" title="点击更换"> -->

                      </div>
                    </div>
                <a id="login_btn" href="javascript:void(0);" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</a>
              </div>
              <div id="signin_card" class="card-body" style="display: none;">
                {% for i in data.form_obj %}
                    <div class="form-group row">
                      <div class="col-12">
                        {{i}}
                        <small class="form-text"></small>
                      </div>
                    </div>
                {% endfor %}
                <a id="signin_btn" href="javascript:void(0);" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Singin</a>
              </div>
            </div>
        </div>
        <div class="col-4 mt-3">
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        // 点击更换验证码图片
        function changeImg(ths) {
            ths.src = ths.src + '?';
        }



        $(function () {

            $('body').css('background-color','#333');

            // 切换login&signin标签
            $('#signin_tag').click(function () {
                $(this).addClass('active');
                $('#login_tag').removeClass('active');
                $('#signin_card').css('display','block');
                $('#login_card').css('display','none');
            })
            $('#login_tag').click(function () {
                $(this).addClass('active');
                $('#signin_tag').removeClass('active');
                $('#signin_card').css('display','none');
                $('#login_card').css('display','block');
            })

            // 登录动作
            $('#login_btn').click(function () {
                var data={
                    'type':'login',
                    'username': $('#login_card [name="username"]').val(),
                    'password': $('#login_card [name="password"]').val(),
                    'random_code': $('#login_card [name="random_code"]').val(),

                    // 'username': 'evicxixi',
                    // 'password': 'evic37738925',
                    // 'username': 'nut',
                    // 'password': '123',
                };
                $.ajax({
                    url:'/login/',
                    type:'POST',
                    content:'application/json; charset=utf-8',
                    dataType:'json',
                    data:JSON.stringify(data),
                    success:function (data) {
                        var data=JSON.parse(JSON.stringify(data));
                        console.log('data',typeof(data),data)
                        if (data['state'] == '-1') {
                            alert('验证码不正确');
                            $("img[name='random_code']")[0].click(changeImg(this)); // reload random
                        }
                        else if (data['state'] == '0') {
                            alert('用户名密码不正确');
                        }
                        else{
                            window.location.href=data['url'];
                        }
                    }
                })
            })

            // 注册动作
            $('#signin_btn').click(function () {
                var data={
                    'type':'signin',
                    'username': $('#signin_card [name="username"]').val(),
                    'password': $('#signin_card [name="password"]').val(),
                    're_password': $('#signin_card [name="re_password"]').val(),
                    'first_name': $('#signin_card [name="first_name"]').val(),
                    'last_name': $('#signin_card [name="last_name"]').val(),
                    'email': $('#signin_card [name="email"]').val(),
                    
                    // 'username': 'cat',
                    // 'password': '123',
                    // 're_password': '123',
                    // 'first_name': 'cat',
                    // 'last_name': 'kitty',
                    // 'email': 'cat@nut.com',
                };
                $.ajax({
                    url:'/login/',
                    type:'POST',
                    content:'application/json; charset=utf-8',
                    dataType:'json',
                    data:JSON.stringify(data),
                    success:function (data) {
                        var data=JSON.parse(JSON.stringify(data));
                        console.log('data',typeof(data),data)
                        if (data['state']) {
                            window.location.href=data['url'];
                        }
                        else{
                            alert('填写不正确');
                        }
                    }
                })
            })
        })
    </script>
{% endblock js %}
